.btn {
  display: block;
  margin: 1em auto;
  width: 50%;
  height: 45px;
  background-color: $green;
  color: $white;
  border: 0;
  border-bottom: 3px solid darken($green, 5);
  border-radius: 2px;
  font-weight: 300;
  outline: none;

  &:active {
    background-color: darken($green, 5);
  }

  &[disabled] {
    background-color: silver;
    border-bottom: 3px solid darken(silver, 5);
    text-decoration: line-through;
  }
}

.btn-text {
  vertical-align: middle;
}
