.cart {
  @media screen and (min-width: 48em) {
    position: absolute;
    background: $suave-blue;
    top: 100%;
    right: 0;
    width: 350px;
    padding: 1em;
    overflow: auto;
    max-height: 600px;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
  }
}

.cart-title {
  font-size: 1.1rem;
}

.cart-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.list-item {
  border-bottom: 2px solid $light-blue;
  padding: .3em 0;

  @media screen and (min-width: 35.5em) and (max-width: 767px) {
    line-height: 2rem;
  }

  .product-price {
    color: $text-color;
    font-weight: 600;
  }
}

.item-name {
  display: block;
  font-weight: 400;

  @media screen and (min-width: 35.5em) and (max-width: 767px) {
    display: inline-block;
    height: 30px;
    min-width: 220px;
  }
}

.quantity-input {
  width: 40px;
}

.total-money {
  color: $red;
  font-weight: 600;
}

.remove-btn {
  float: right;
  border-radius: 50%;
  background-color: $white;
  border: 1px solid $text-color;
  width: 28px;
  height: 28px;
  padding: 5px;
  color: $text-color;
  line-height: 1rem;
  margin-top: -10px;
  font-size: .8rem;

  @media screen and (min-width: 35.5em) and (max-width: 767px) {
    margin-top: 3px;
  }
}

.empty-text {
  text-align: center;
}
