// fonts
$default-font : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-size : 1rem;
$h1-size      : 1.5rem;

// colors

$white        : #FFF;
$red          : #FF3232;
$green        : #4EB875;
$dark-blue    : #233283;
$suave-blue   : #79C8EA;
$light-blue   : #D8F3FE;
$grey         : #808080;
$light-gray   : #FAFAFA;
$silver       : #C0C0C0;

$bg-color     : $light-gray;
$header-color : $light-blue;
$text-color   : #333;
$light-text   : #555;
