// fonts
$default-font : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-size : 1rem;
$h1-size      : 1.5rem;

// colors

$white        : #FFF;
$red          : #FF3232;
$orange       : #FEB76B;
$light-orange : #FFDCB5;
$green        : #4EB875;
$light-green  : #A0CDDE;
$blue         : #05D0EC;
$dark-blue    : #233283;
$suave-blue   : #AAB3E3;
$light-blue   : #D8DDF6;
$light-gray   : #FAFAFA;

$bg-color     : $light-gray;
$header-color : $light-blue;
$text-color   : #333;
