<div class="error">
  <p>
    Oh noes, it looks like you got an error D:
  </p>
  <p>
    It looks like the <a href="http://beta.json-generator.com/api/json/get/4kiDK7gxZ" target="_blank">API</a> might be offline.
  </p>
  <p>
    You should maybe try again later.
  </p>
</div>
